{% extends 'layout.html.twig' %}
{% block title %} {{ post.title }}{% endblock %}
{% block body %}
  <section class="post">
    <header class="major">
      <span class="date">{{ post.publishedAt | date('d/m/Y') }}</span>
      <h1>{{ post.title | upper }}</h1>
    </header>
    {{ post.content | raw }}
  </section>
{% endblock %}